/* Base styling for the sidebar */
.sidebar {
    width: 250px;
    background-color: white;
    color: rgb(63, 61, 61);
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .sidebar-title {
    color: #2d3748;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    color: #2d3748;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }
  
  .sidebar li:hover {
    background-color: #edf2f7;
  }
  
  .sidebar li .icon {
    margin-right: 8px;
  }
  
  .sidebar .active {
    background-color: #e2e8f0;
    border-radius: 4px;
  }
  
  .sidebar .inactive {
    color: #718096;
  }
  
  /* Hide text for small screens */
  @media (max-width: 1024px) {
    .sidebar {
      width: 80px; /* Narrow sidebar */
    }
  
    .sidebar-title {
      display: none; /* Hide the title */
    }
  
    .sidebar li {
      justify-content: center;
    }
  
    .sidebar li .sidebar-text {
      display: none; /* Hide the text labels */
    }
  
    .sidebar li .icon {
      margin-right: 0;
    }
  }
  
  /* Adjustments for very small screens (max-width 480px) */
  @media (max-width: 480px) {
    .sidebar {
      width: 60px;
    }
  
    .sidebar li {
      font-size: 0.8rem;
    }
  
    .sidebar li .sidebar-text {
      display: none;
    }
  
    .sidebar li .icon {
      margin-right: 0;
    }
  }
  